td,table {
    border: solid 1px black;
    border-collapse: collapse;
    background-color: white;
}
table {
    width: 25em;
    height: 3em;
    align-content: center;
    margin: auto;
}
* {
    text-align: center;
    align-content: center;
    background-color: lightgray;
}
input {
    background-color: palevioletred;
}
p {
    font-size: 18px;
}